body {
    margin: 0;
}

* {
    box-sizing: border-box;
    color: rgb(18, 0, 110);
}

/* For desktop: */
.container {
    width: 90%;
    margin: 0 auto;
}
/* For mobile: */
@media screen and (max-width: 1000px) {
    .container {
        width: 100%;
    }
}
/* For desktop: */
.row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
/* For mobile: */
@media screen and (max-width: 1000px) {
    .row {
        flex-wrap: wrap;
        
    }
}

.justify-content-between {
    justify-content: space-between;
}

.align-items-center {
    align-items: center;
}

/* For desktop: */
.col-1 {
    width: 8.33%;
}

.col-2 {
    width: 16.66%;
}

.col-3 {
    width: 25%;
}

.col-4 {
    width: 33.33%;
}

.col-5 {
    width: 41.66%;
}

.col-6 {
    width: 50%;
}

.col-7 {
    width: 58.33%;
}

.col-8 {
    width: 66.66%;
}

.col-9 {
    width: 75%;
}

.col-10 {
    width: 83.33%;
}

.col-11 {
    width: 91.66%;
}

.col-12 {
    width: 100%;
}

/* For mobile: */
@media only screen and (max-width: 1000px) {
    [class*="col-"] {
        width: 100%;
        
    }
}

/* For desktop: */
[class*="col-"] {
    padding: 15px;
}

.shadow {
    box-shadow: 0 0 20px gainsboro;
    border-radius: 10px;
}
nav ul{
    padding: 0;
    margin: 0;
    list-style-type: none;
}

nav li {
    display: inline;
    padding: 10px;
    font-size: 20px;
}
/* For mobile: */
@media screen and (max-width: 1000px) {
    nav li {
        display: flex;
        justify-content: center;
        font-size: 30px;
    }
    nav ul {
        background-color: rgb(243, 251, 254);
    }
}

nav li a {
    color: rgb(18, 0, 110);
}

nav li:hover {
    background-color:  rgb(225, 245, 253);
}

.text-right{
    text-align: right;
}

a {
    text-decoration: none;
}
.text-center {
    text-align: center;
}
.py-3 {
    padding: 16px 0;
}
.p-3{
    padding: 16px 0;
}
.px-3 {
    padding: 0 16px;
}

.bg-azul-o {
    background-color: rgb(12, 56, 75);
}
.bg-azul-c {
    background-color: rgb(240, 249, 252);
}
.text-white {
    color: white;
}
footer h1 {
    border-bottom-left-radius: 10px;
}
footer h1 {
    border-bottom-right-radius: 10px;
}

h1 {
    margin: 0;
}

#btnmenu {
    font-size: 40px;
    display: none;
    color:black
}
/* For mobile: */
@media screen and (max-width: 1000px) {
    #btnmenu {
        display: inline;
    }
    #menu{
        display: none;
    }
}
@media screen and (max-width: 1600px) and (min-width: 1000px)  {
    #menu{
        display: block;
    }
}
/* css de las prácticas */
#home img {
    width: 100%;
    padding: 0 20px;
}
.ugly-text{
    background-color: rgb(112, 71, 17);
    color: blue;
}
.blue-bg{
    background-color: blue;
    color: white;
    width: 100%;
    
}
.green-bg{
    background-color: rgb(60, 255, 0);
    width: 100%;
    
}
.p-3{
    margin: 16px ;
}
.bg-menu{
    background-color: rgba(143, 145, 145, 0.212);
}
.logo{
    width: 250px;
}
@media screen and (max-width: 1000px) {
    .logo{
        float: right;
        height:170px;
        width: 100%;
        clear: both;

    }
}

.text-underline {
    text-decoration: underline;
}
#ordenada2c  {
    list-style-type: upper-alpha;
}
¡#ordenada2c ol {
    list-style-type: upper-roman;
}
#ordenada2cd  {
    list-style-type: lower-alpha;
}
#ordenada2cd ol  {
    list-style-type: lower-roman;
}
#ordenada2cd ol ol  {
    list-style-type: upper-roman;
}
#desordenada2c ul  {
    list-style-image: url(../img/icono.png);
}
#desordenada2c ul ul {
    list-style-image: none;
    list-style-type: square;
}
dt {
    background-color: rgb(7, 7, 114);
    color: rgb(255, 255, 255);
    font-size: 17px;
    display: inline;
}
dd {
    padding: 5px 0;
}





#horario{
    width: 70%;
    margin: 0 auto;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.LMSG{
    background-color: rgb(247, 202, 201);
    text-align: center;
    padding: 5px;
    font-weight: 500;
    color: black;
}  
.ING{
    background-color: rgb(119, 179, 235);
    text-align: center;
    padding: 5px;
    font-weight: 500;
    color: black;
}  
.PROG{
    background-color: rgb(179, 123, 122);
    text-align: center;
    padding: 5px;
    font-weight: 500;
    color: black;
}
.BDD{
    background-color: rgb(210, 210, 251);
    text-align: center;
    padding: 5px;
    font-weight: 500;
    color: black;
}  
.ENDE{
    background-color: rgb(180, 179, 110);
    text-align: center;
    padding: 5px;
    font-weight: 500;
    color: black;

}
.FOL{
    background-color:  rgb(128, 129, 187);
    text-align: center;
    padding: 5px;
    font-weight: 500;
    color: black; 
}
.SISI{
    background-color:  rgb(165, 218, 156);
    text-align: center;
    padding: 5px;
    font-weight: 500;
    color: black; 
}
.azulverdoso th,td,caption,strong{
    color:rgb(59, 131, 132);
} 
.grande{
    font-size: x-large;
}

